@use "../abstracts/variables" as v;

.sidebar {
  display: flex;
  flex: 0.01;
  color: #fff;
  background-color: v.$background-secondary;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    display: block;
    font-size: 0.7em;
    color: grey;
    text-align: center;
    padding: 1.5rem .5rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      border-top: 2px solid #fff;
      color: #fff;
    }
    &-active {
      color: #fff;
    }
  }

  &__logo {
    display: none;
  }
  &__title {
    padding: 0.8rem 1.5rem;
  }
  @media screen and (min-width: 991px) {
    position: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    &__actions {
      height: 70%;
      flex-direction: column;
    }
    &__logo {
      display: block;
      height: 2.5rem;
      padding: 0 1rem;
    }
    &__link {
      font-size: 0.8em;
      padding: 0 1.5rem;
      &:hover {
        border-top: none;
      }
    }
  }
}
